body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

label, input, select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0056b3;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.vacuum-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, select {
    font-size: 16px;
    margin: 10px;
}
